@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;


  --primary-bg-color: #F1F1F1;
  --secondary-bg-color: #FAFAFA;
  --accent-color: #a395fc;
  --text-color: #000000;

  --dark-primary-bg-color: #232323;
  --dark-secondary-bg-color: #272727;
  --dark-accent-color: #8d78cb;
  --dark-text-color: #FAFAFA;
}

* {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@layer components {
  #root {
    @apply
    flex flex-col justify-between
    lg:flex-row lg:justify-normal
  }

  button {
    @apply hover:cursor-pointer
  }
}



.path-0 {
 animation: pathAnim-0 6s;
 animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
 animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0 % {
    d: path("M 0,600 L 0,150 C 106.65071770334927,176.3444976076555 213.30143540669854,202.68899521531102 314,180 C 414.69856459330146,157.31100478468898 509.444976076555,85.58851674641147 602,96 C 694.555023923445,106.41148325358853 784.9186602870813,198.9569377990431 877,217 C 969.0813397129187,235.0430622009569 1062.8803827751199,178.58373205741626 1157,155 C 1251.1196172248801,131.41626794258374 1345.55980861244,140.7081339712919 1440,150 L 1440,1200 L 0,1200 Z");
  }

  25% {
    d: path("M 0,600 L 0,150 C 108.90909090909093,197.27272727272725 217.81818181818187,244.54545454545453 327,224 C 436.18181818181813,203.45454545454547 545.6363636363636,115.09090909090908 623,99 C 700.3636363636364,82.90909090909092 745.6363636363636,139.0909090909091 821,168 C 896.3636363636364,196.9090909090909 1001.8181818181818,198.54545454545456 1110,191 C 1218.1818181818182,183.45454545454544 1329.090909090909,166.72727272727272 1440,150 L 1440,1200 L 0,1200 Z");
  }

  50% {
    d: path("M 0,600 L 0,150 C 94.53588516746413,142.56459330143542 189.07177033492826,135.12918660287082 284,135 C 378.92822966507174,134.87081339712918 474.2488038277512,142.04784688995215 562,146 C 649.7511961722488,149.95215311004785 729.933014354067,150.6794258373206 839,134 C 948.066985645933,117.32057416267942 1086.019138755981,83.23444976076556 1191,83 C 1295.980861244019,82.76555023923444 1367.9904306220096,116.38277511961722 1440,150 L 1440,1200 L 0,1200 Z");
  }

  75% {
    d: path("M 0,600 L 0,150 C 94.72727272727272,155.64593301435406 189.45454545454544,161.29186602870814 297,155 C 404.54545454545456,148.70813397129186 524.909090909091,130.47846889952152 628,131 C 731.090909090909,131.52153110047848 816.9090909090908,150.79425837320576 894,151 C 971.0909090909092,151.20574162679424 1039.4545454545455,132.3444976076555 1129,129 C 1218.5454545454545,125.6555023923445 1329.2727272727273,137.82775119617224 1440,150 L 1440,1200 L 0,1200 Z");
  }

  100% {
    d: path("M 0,600 L 0,150 C 106.65071770334927,176.3444976076555 213.30143540669854,202.68899521531102 314,180 C 414.69856459330146,157.31100478468898 509.444976076555,85.58851674641147 602,96 C 694.555023923445,106.41148325358853 784.9186602870813,198.9569377990431 877,217 C 969.0813397129187,235.0430622009569 1062.8803827751199,178.58373205741626 1157,155 C 1251.1196172248801,131.41626794258374 1345.55980861244,140.7081339712919 1440,150 L 1440,1200 L 0,1200 Z");
  }
}

.path-1 {
 animation: pathAnim-1 6s;
 animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
 animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
  0 % {
    d: path("M 0,600 L 0,350 C 106.6602870813397,335.0430622009569 213.3205741626794,320.0861244019139 292,302 C 370.6794258373206,283.9138755980861 421.37799043062205,262.6985645933014 524,290 C 626.622009569378,317.3014354066986 781.1674641148325,393.1196172248804 904,410 C 1026.8325358851675,426.8803827751196 1117.952153110048,384.82296650717706 1202,365 C 1286.047846889952,345.17703349282294 1363.023923444976,347.58851674641147 1440,350 L 1440,1200 L 0,1200 Z");
  }

  25% {
    d: path("M 0,600 L 0,350 C 99.48325358851676,316.82296650717706 198.96650717703352,283.64593301435406 285,300 C 371.0334928229665,316.35406698564594 443.61722488038276,382.2392344497608 540,405 C 636.3827751196172,427.7607655502392 756.5645933014355,407.39712918660285 851,389 C 945.4354066985645,370.60287081339715 1014.1244019138755,354.17224880382776 1108,348 C 1201.8755980861245,341.82775119617224 1320.9377990430621,345.9138755980861 1440,350 L 1440,1200 L 0,1200 Z");
  }

  50% {
    d: path("M 0,600 L 0,350 C 81.83732057416267,328.5645933014354 163.67464114832535,307.12918660287085 258,289 C 352.32535885167465,270.87081339712915 459.1387559808612,256.04784688995215 569,275 C 678.8612440191388,293.95215311004785 791.7703349282298,346.6794258373206 890,381 C 988.2296650717702,415.3205741626794 1071.77990430622,431.23444976076553 1161,423 C 1250.22009569378,414.76555023923447 1345.11004784689,382.38277511961724 1440,350 L 1440,1200 L 0,1200 Z");
  }

  75% {
    d: path("M 0,600 L 0,350 C 95.82775119617227,353.33014354066984 191.65550239234454,356.66028708133973 281,361 C 370.34449760765546,365.33971291866027 453.2057416267942,370.688995215311 557,383 C 660.7942583732058,395.311004784689 785.5215311004786,414.5837320574162 884,415 C 982.4784688995214,415.4162679425838 1054.7081339712918,396.97607655502395 1143,383 C 1231.2918660287082,369.02392344497605 1335.6459330143541,359.511961722488 1440,350 L 1440,1200 L 0,1200 Z");
  }

  100% {
    d: path("M 0,600 L 0,350 C 106.6602870813397,335.0430622009569 213.3205741626794,320.0861244019139 292,302 C 370.6794258373206,283.9138755980861 421.37799043062205,262.6985645933014 524,290 C 626.622009569378,317.3014354066986 781.1674641148325,393.1196172248804 904,410 C 1026.8325358851675,426.8803827751196 1117.952153110048,384.82296650717706 1202,365 C 1286.047846889952,345.17703349282294 1363.023923444976,347.58851674641147 1440,350 L 1440,1200 L 0,1200 Z");
  }
}

