@import "tailwindcss";

#root {
  margin: 0;
  padding: 1rem;
  text-align: center;

  --primary-bg-color: #F1F1F1;
  --secondary-bg-color: #FAFAFA;

  --accent-color: #00a2f1;

  --text-color: #000000;
}

* {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}