@import "tailwindcss";

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}